<form action='' method='post' id='loginform'>
    <div class='formline'>
        <div class='formitem formitem_4'><span>帳號</span></div>
        <div class='formitem formitem_4  tleft'>
            <input type='text' class='formfield form-control' name='name' placeholder='Email地址或電話號碼'>
            <div class='formerr'>請填寫Email或電話號碼</div>
        </div>
        <div class='clr'></div>
    </div>
    <div class='formline'>
        <div class='formitem formitem_4'><span >密碼</span></div>
        <div class='formitem formitem_4  tleft'>
            <input type='password' class='formfield form-control' name='pass'>
            <div class='formerr'>請填寫密碼</div>
        </div>
        <div class='clr'></div>
    </div>
    <div class='formline'>
        <!--
        <div class='formitem formitem_4 formitems'><span>驗證碼</span></div>
        <div class='formitem formitem_4 tleft formitems'>
            <input type='text' class='formfield form-control' name='code' autocomplete='ppp'>
                                        <div style='margin-top:10px;'>
                                        <span class='inblock fL' style='width:50%'><input type='checkbox' class='formfield' name='remember' value='y'> <span style='color:#444;'>記住我</span></span>
                                        <span class='inblock fL' style='width:46%'>"+data[0]+"</span>
="                            <div class='formerr'>請填寫驗證碼</div>
                                        </div>
        </div>
        -->
        <div class='clr'></div>
    </div>
    <div class='formline'>
        <div class='formitem formitem_4 formitems'></div>
        <div class='formitem formitem_4 formitems tleft'>
            <a href='' class='foregclick fL'><i class='fa fa-exclamation-circle'></i> 忘記密碼?請按我</a>
            <!--
            <input type='hidden' class='formfield' name='f1' value='"+((typeof x=="undefined")?"":x)+"'>
            <input type='hidden' class='formfield' name='f2' value='"+((typeof y=="undefined")?"":y)+"'>
            <input type='hidden' class='formfield' name='f3' value='"+((typeof z=="undefined")?"":z)+"'>
            <input type='hidden' class='formfield' name='f4' value='"+((typeof b=="undefined")?"":b)+"'>
            -->
            <input type='submit'  name='submit' value='送出' class='submitclick border5 fR btn' data-type='loginform' style='margin-left:0;margin-right:15px;'>
            <div class='formerr'>有點錯誤,請改正</div>
        </div>
        <div class='clr'></div>
    </div>
</form>

